.title{
    text-align: center;
    color: white
}

ion-content.fullscreen{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

ion-list.list-fullscreen {
    height: 100%;
    flex: 1;
    overflow-y: auto;
}

ion-content{
    --ion-background-color: rgb(255, 108, 235);
}

ion-toolbar{
    --ion-background-color: #d020c4;
    color: white;
}

-ion-button{
    --background: #ffe944;
}
