<ion-header>
    <ion-toolbar>
      <ion-title>
        Agregar Nota
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="cerrarModal()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-item>
      <ion-label position="floating">Título de la Nota</ion-label>
      <ion-input [(ngModel)]="tituloNota" type="text"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Descripción de la Nota</ion-label>
      <ion-textarea [(ngModel)]="descripcionNota"></ion-textarea>
    </ion-item>
  
    <ion-button expand="block" (click)="guardarNota()">Guardar Nota</ion-button>
    <br>
    <ion-button expand="block" (click)="tomarFoto()">Tomar Foto</ion-button>
    
  </ion-content>
